<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/products.css}" />

    <title>CASE Bank - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>CASE Bank</h1>

    <h3>IBM Cloud Architecture - Strangling the monolith</h3>

    <div>
    <p>
      This application is a monolith application that simulates a bank application.<br/>
      It will be used to demo the strangling pattern for monolith application which is used <br/>
      to migrate your monolithic application architecture towards a microservices application architecture.
    </p>
  </div>

</body>
</html>
